/* Reset básico para remover estilos padrão do navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  padding-top: 100px;
}

/* Estilização do cabeçalho */
header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5em;
  color: #333;
}

/* Estilização da seção principal */
#top-container {
  background-color: #fff;
  padding: 2rem 0;
}

#main-title {
  color: #333;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-subtitle {
  color: #666;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilização do formulário de busca */
#search-form {
  display: flex;
  justify-content: center;
  align-items: center; /* Centralizar verticalmente */
  margin-bottom: 2rem;
}

#search-form .form-control {
  width: 100%; /* Ajustar a largura para ocupar todo o espaço do col-md-8 */
  margin-right: 1rem;
}

#search-form .btn {
  width: 100%; /* Ajustar a largura para ocupar todo o espaço do col-md-2 */
  margin-left: 0; /* Remover margem à esquerda */
}

/* job-view */
#job-view-container {
  margin-top: 30px;
  position: relative;
}

#job-view-container h1 {
  margin-bottom: 30px;
}

#img-container {
  margin-top: 20px;
  margin-bottom: 30px;
}

#img-container img {
  width: 80%;
  max-width: 100%;
  border-radius: 50%;
  border: 1px solid #212529;
}

.job-desc {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.bold {
  font-weight: bold;
}

.main-color {
  color: #F03E3E;
}

.back-link {
  border: 1px solid #F03E3E;
  padding: 5px 10px;
  transition: .5s;
  display: inline-block;
  margin: 20px 0;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  text-decoration: none;
}

.back-link:hover {
  background-color: #F03E3E;
  color: #FFF;
  text-decoration: none;
}

/* Estilização das vagas em destaque */
#jobs-container {
  padding: 2rem;
}

#job-list-title {
  font-size: 1.4em;
  color: #333;
  margin-bottom: 1rem;
}

.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  flex-wrap: wrap; /* Para tornar os itens flexíveis e responsivos */
}

.list-group-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}

.list-group-item p {
  margin-bottom: 0;
}

.list-group-item h2 {
  flex-grow: 1;
  margin-bottom: 0;
  margin-left: 1rem;
}

.list-group-item a.btn {
  background-color: #007bff;
  color: #fff;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  margin-left: 1rem;
}  

.new-job-label {
  background-color: #5cb85c;
  color: #fff;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
}

.job-item {
  display: flex;
  flex-direction: column;
}

.job-detail {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.job-detail img.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.new-job-label {
  font-weight: bold;
  color: red;
}

/* Estilização responsiva */
@media (max-width: 768px) {
  .list-group-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .list-group-item h2 {
    margin-left: 0;
    margin-top: 10px;
  }

  .list-group-item a.btn {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }

  #search-form .form-control,
  #search-form .btn {
    width: 100%;
    margin: 0.5rem 0;
  }

  .job-desc {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .back-link {
    position: relative;
    margin: 10px 0;
  }
}



/* job-view */
#job-view-container {
  margin-top: 30px;
  position: relative; /* Necessário para o posicionamento absoluto do botão */
}

#job-view-container h1 {
  margin-bottom: 30px;
}

#img-container {
  margin-top: 50px;
  margin-bottom: 30px;
}

#img-container img {
  width: 20%; /* Reduz a largura da imagem para 80% */
  max-width: 100%;
  border-radius: 10%;
  border: 1px solid #212529;
}

.job-desc {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.bold {
  font-weight: bold;
}

.main-color {
  color: #F03E3E;
}

.back-link {
  border: 1px solid #F03E3E;
  padding: 5px 10px;
  transition: .5s;
  display: inline-block;
  margin: 20px 0; /* Corrigir erro de digitação */
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white; /* Adiciona fundo branco para o botão */
  text-decoration: none; /* Remove sublinhado do link */
}

.back-link:hover {
  background-color: #F03E3E;
  color: #FFF;
  text-decoration: none;
}

/* Regras de mídia para telas menores */
@media (max-width: 768px) {
  #img-container img {
    width: 100%; /* Ajusta a largura da imagem para telas menores */
  }

  .job-desc {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .back-link {
    position: relative;
    margin: 10px 0;
  }
}
